rules_version = '2';
// Allow read/write access on all documents to any user signed in to the application
service cloud.firestore {
  match /databases/{database}/documents {
    match /configurations/{configuration} {
      allow read: if true;
      allow write: if authUserExists(request, database);
      allow update: if authUserExists(request, database); 
      allow delete: if authUserExists(request, database);
    }
     match /courses/{course} {
      allow read: if isAdmin(request, database, 'courses') || hasReadPermission(request, database, 'courses');
      allow write: if (isAdmin(request, database, 'courses') || hasWritePermission(request, database, 'courses')) && courseDataValidated(request);
      allow update: if (isAdmin(request, database, 'courses') || hasUpdatePermission(request, database, 'courses')) && courseDataValidated(request);
      allow delete: if isAdmin(request, database, 'courses') || hasDeletePermission(request, database, 'courses');
    }
    match /courseChapters/{chapter} {
      allow read: if isAdmin(request, database, 'courses') || hasReadPermission(request, database, 'courses');
      allow write: if (isAdmin(request, database, 'courses') || hasWritePermission(request, database, 'courses')) && courseChapterDataValidated(request);
      allow update: if (isAdmin(request, database, 'courses') || hasUpdatePermission(request, database, 'courses')) && courseChapterDataValidated(request);
      allow delete: if isAdmin(request, database, 'courses') || hasDeletePermission(request, database, 'courses');
    }
    match /notesCategories/{category} {
      allow read: if hasReadPermission(request, database, 'notes');
      allow write: if hasWritePermission(request, database, 'notes');
      allow update: if hasUpdatePermission(request, database, 'notes');
      allow delete: if hasDeletePermission(request, database, 'notes');
    }
    match /notes/{note} { 
      allow read: if hasReadPermission(request, database, 'notes');
      allow write: if hasWritePermission(request, database, 'notes') && noteDataValidated(request);
      allow update: if hasUpdatePermission(request, database, 'notes') && noteDataValidated(request);
      allow delete: if hasDeletePermission(request, database, 'notes');
    }
    match /userNotes/{note} {
      allow read: if hasReadPermission(request, database, 'notes');
      allow write: if hasWritePermission(request, database, 'notes');
      allow update: if hasUpdatePermission(request, database, 'notes');
      allow delete: if hasDeletePermission(request, database, 'notes');
    }
    match /videos/{video} {
      allow read: if isAdmin(request, database, 'videos') || hasReadPermission(request, database, 'videos') || isOwnRecord(request, resource.data.uploadedBy);
      allow write: if isAdmin(request, database, 'videos') || hasWritePermission(request, database, 'videos');
      allow update: if isAdmin(request, database, 'videos') || hasUpdatePermission(request, database, 'videos');
      allow delete: if isAdmin(request, database, 'videos') || hasDeletePermission(request, database, 'videos');
    }
      match /Questions/{question} {
      allow read: if hasReadPermission(request, database, 'questions') || hasAnswerPermission(request, database, 'questions');
      allow write: if (hasWritePermission(request, database, 'questions') || hasAnswerPermission(request, database, 'questions')) && questionDataValidated(request);
      allow update: if (hasUpdatePermission(request, database, 'questions') || hasAnswerPermission(request, database, 'questions')) && questionDataValidated(request);
      allow delete: if hasDeletePermission(request, database, 'questions');
    }
      match /Answers/{answer} {
      allow read: if hasReadPermission(request, database, 'questions');
      allow write: if hasWritePermission(request, database, 'questions');
      allow update: if hasUpdatePermission(request, database, 'questions');
      allow delete: if hasDeletePermission(request, database, 'questions');
    }
       match /chats/{chat} {
      allow read: if authUserExists(request, database);
      allow write: if authUserExists(request, database);
      allow update: if authUserExists(request, database); 
      allow delete: if authUserExists(request, database);
    }
    match /messages/{message} {
      allow read: if authUserExists(request, database);
      allow write: if authUserExists(request, database);
      allow update: if authUserExists(request, database); 
      allow delete: if authUserExists(request, database);
    }
     match /comments/{comment} {
      allow read: if hasReadPermission(request, database, 'comments');
      allow write: if hasWritePermission(request, database, 'comments') && commentDataValidated(request);
      allow update: if hasUpdatePermission(request, database, 'comments') && commentDataValidated(request);
      allow delete: if hasDeletePermission(request, database, 'comments');
    }
     match /transcriptInserts/{transcriptInsert} {
      allow read: if authUserExists(request, database);
      allow write: if authUserExists(request, database);
      allow update: if authUserExists(request, database); 
      allow delete: if authUserExists(request, database);
    }
    match /transcriptFixes/{transcriptFix} {
      allow read: if authUserExists(request, database);
      allow write: if authUserExists(request, database);
      allow update: if authUserExists(request, database); 
      allow delete: if authUserExists(request, database);
    }
    match /userGroups/{userGroups} {
      allow read: if hasReadPermission(request, database, 'groups');
      allow write: if hasWritePermission(request, database, 'groups') && groupDataValidated(request);
      allow update: if hasUpdatePermission(request, database, 'groups') && groupDataValidated(request);
      allow delete: if hasDeletePermission(request, database, 'groups');
    }
    match /users/{user} {
      allow read: if isAdmin(request, database, 'users') || hasReadPermission(request, database, 'users');
      allow write: if (isAdmin(request, database, 'users') || hasWritePermission(request, database, 'users') || userConfirmed(request)) && userDataValidated(request);
      allow update: if (isAdmin(request, database, 'users') || isPermitted(request, database, resource)) && authUserExists(request, database);
      allow delete: if isAdmin(request, database, 'users') || hasDeletePermission(request, database, 'users');
    }
    match /userInvites/{userInvites} {
      allow read: if hasInvitePermission(request, database, 'users'); 
      allow write: if hasInvitePermission(request, database, 'users');
      allow update: if hasInvitePermission(request, database, 'users');      
      allow delete: if hasDeletePermission(request, database, 'users');      
    }
    match /demoRequests/{demoRequests} {
      allow read: if hasReadPermission(request, database, 'demo-requests');
      allow write: if hasWritePermission(request, database, 'demo-requests');
      allow update: if hasUpdatePermission(request, database, 'demo-requests');
      allow delete: if hasDeletePermission(request, database, 'demo-requests');
    }
    match /bookmarks/{bookmarks} {
      allow read: if hasReadPermission(request, database, 'bookmarks');
      allow write: if hasWritePermission(request, database, 'bookmarks') && bookmarkDataValidated(request);
      allow update: if hasUpdatePermission(request, database, 'bookmarks') && bookmarkDataValidated(request);
      allow delete: if hasDeletePermission(request, database, 'bookmarks');
    }
    match /verifiedDemoUsers/{verifiedDemoUserId} {
      allow read: if hasReadPermission(request, database, 'users');
      allow write: if hasWritePermission(request, database, 'users');
      allow update: if hasUpdatePermission(request, database, 'users');
      allow delete: if hasDeletePermission(request, database, 'users');
    }
    match /unVerifiedDemoUsers/{unVerifiedDemoUserId} {
      allow read: if hasReadPermission(request, database, 'users');
      allow write: if hasWritePermission(request, database, 'users');
      allow update: if hasUpdatePermission(request, database, 'users');
      allow delete: if hasDeletePermission(request, database, 'users');
    }
    match /feedbackDetails/{detail} {
      allow read: if authUserExists(request, database);
      allow write: if authUserExists(request, database);
      allow update: if authUserExists(request, database); 
      allow delete: if authUserExists(request, database);
    }
    match /examples/{example} {
      allow read: if authUserExists(request, database);
      allow write: if authUserExists(request, database);
      allow update: if authUserExists(request, database); 
      allow delete: if authUserExists(request, database);
    }
    match /groups/{group} {
      allow read: if hasReadPermission(request, database, 'groups');
      allow write: if hasWritePermission(request, database, 'groups') && groupDataValidated(request);
      allow update: if hasUpdatePermission(request, database, 'groups') && groupDataValidated(request);
      allow delete: if hasDeletePermission(request, database, 'groups');
    }
    match /tickets/{ticket} {
      allow read: if hasReadPermission(request, database, 'tickets');
      allow write: if hasWritePermission(request, database, 'tickets') && ticketDataValidated(request);
      allow update: if hasUpdatePermission(request, database, 'tickets') && ticketDataValidated(request);
      allow delete: if hasDeletePermission(request, database, 'tickets');
    }
    match /notifications/{notification} {
      allow read: if authUserExists(request, database);
      allow write: if authUserExists(request, database) && notificationDataValidated(request);
      allow update: if authUserExists(request, database) && notificationDataValidated(request); 
      allow delete: if authUserExists(request, database);           
    }
  }
}

function hasReadPermission(request, database, key) { 
    return userConfirmed(request) && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.featurePermissions.permissions[key].read == true;
}

function hasWritePermission(request, database, key) {
    return userConfirmed(request) && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.featurePermissions.permissions[key].create == true;
}

function hasUpdatePermission(request, database, key) {
    return userConfirmed(request) && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.featurePermissions.permissions[key].update == true;
}

function hasDeletePermission(request, database, key) {
    return userConfirmed(request) && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.featurePermissions.permissions[key].delete == true;
}

function hasAnswerPermission(request, database, key) { 
    return userConfirmed(request) && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.featurePermissions.permissions[key].answer == true;
}

function hasInvitePermission(request, database, key) { 
    return userConfirmed(request) && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.featurePermissions.permissions[key].invite == true;
}

function userConfirmed(request) {
    return request.auth != null && request.auth.uid.matches('^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}$');
}

function isAdmin(request, database, key) {
    return userConfirmed(request) && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.featurePermissions.permissions[key].admin == true;
}

function userDataValidated(request) {
  return request.resource.data.keys().hasAll(['id', 'name', 'email', 'active', 'groups', 'courses', 'createdAt']);
}

function groupDataValidated(request) {
  return request.resource.data.keys().hasAll(['id', 'name', 'description', 'active', 'createdAt', 'createdBy']);
}

function courseDataValidated(request) {
  return request.resource.data.keys().hasAll(['name', 'courseCode', 'active', 'uniqueCourseCode']);
}

function courseChapterDataValidated(request) {
  return request.resource.data.keys().hasAll(['id', 'name', 'courseId', 'slug', 'order', 'videos', 'dateCreated', 'createdBy']);
}

function noteDataValidated(request) {
  return request.resource.data.keys().hasAll(['noteId', 'courseId', 'userId', 'videoId', 'noteContent']);
}

function questionDataValidated(request) {
  return request.resource.data.keys().hasAll(['id', 'body', 'name', 'userId', 'courseId', 'chapterSlug', 'videoId', 'active', 'createdAt', 'videoTimeStamp', 'responseStatus']);
}

function commentDataValidated(request) {
  return request.resource.data.keys().hasAll(['id', 'body', 'name', 'userId', 'courseId', 'videoId', 'active', 'createdAt', 'videoTimeStamp', 'approvalStatus']);
}

function bookmarkDataValidated(request) {
  return request.resource.data.keys().hasAll(['id', 'name', 'userId', 'courseId', 'videoId', 'active', 'createdAt', 'videoTimeStamp', 'title']);
}

function ticketDataValidated(request) {
  return request.resource.data.keys().hasAll(['id', 'name', 'message', 'email', 'active', 'createdAt', 'addressed']);
}

function notificationDataValidated(request) {
  return request.resource.data.keys().hasAll(['id', 'description', 'title', 'type', 'active', 'createdAt', 'sourceCollection', 'sourceDocumentId', 'viewed']);  
}

function authUserExists(request, database) {
    return userConfirmed(request) && exists(/databases/$(database)/documents/users/$(request.auth.uid));  
}

function isPermitted(request, database, resource) {
  return !request.resource.data.diff(resource.data).affectedKeys()
        .hasAll(['featurePermissions']) && !request.resource.data.keys().hasAll(['name', 'featurePermissions', 'active']);
}

function isOwnRecord(request, comparisonKey) {
  return comparisonKey == request.auth.uid;
}
