rules_version = '2';
// Allow read/write access on all documents to any user signed in to the application
service cloud.firestore {
  match /databases/{database}/documents {
    match /configurations/{configuration} {
      allow read: if true;
      allow write: if request.auth != null;
    }
     match /courses/{course} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /courseChapters/{chapter} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /notesCategories/{course} {
      allow read, write: if request.auth != null;
    }
    match /notes/{note} {
      allow read, write: if request.auth != null;
    }
    match /userNotes/{course} {
      allow read, write: if request.auth != null;
    }
    match /videos/{video} {
      allow read: if hasReadPermission(request.auth, database, 'videos') || resource.data.uploadedBy == request.auth.uid;
      allow write: if hasWritePermission(request.auth, database, 'videos');
      allow update: if hasUpdatePermission(request.auth, database, 'videos');
      allow delete: if hasDeletePermission(request.auth, database, 'videos');
    }
      match /Questions/{question} {
      allow read, write: if request.auth != null;
    }
      match /Answers/{answer} {
      allow read, write: if request.auth != null;
    }
       match /chats/{chat} {
      allow read, write: if request.auth != null;
    }
    match /messages/{message} {
      allow read, write: if request.auth != null;
    }
     match /videoOverlays/{videoOverlay} {
      allow read, write: if request.auth != null;
    }
     match /comments/{comment} {
      allow read, write: if request.auth != null;
    }
     match /videoOverlays/{overlay} {
      allow read, write: if request.auth != null;
    }
     match /transcriptInserts/{overlay} {
      allow read, write: if request.auth != null;
    }
    match /transcriptFixes/{transcriptFixes} {
      allow read, write: if request.auth != null;
    }
    match /userGroups/{userGroups} {
      allow read, write: if request.auth != null;
    }
    match /users/{user} {
      allow read: if isAdmin(request, database) || hasReadPermission(request, database, 'users');
      allow write: if isAdmin(request, database) || hasWritePermission(request, database, 'users');
      allow update: if isAdmin(request, database) || hasUpdatePermission(request, database, 'users');
      allow delete: if isAdmin(request, database) || hasDeletePermission(request, database, 'users');
    }
    match /userInvites/{userInvites} {
      allow read, write: if request.auth != null;
    }
    match /demoRequests/{demoRequests} {
      allow write: if true;
      allow read: if request.auth != null;
    }
    match /bookmarks/{bookmarks} {
			allow read, write: if request.auth != null;
    }
    match /verifiedDemoUsers/{verifiedDemoUserId} {
      allow write: if true;
      allow read: if request.auth != null;
    }
    match /unVerifiedDemoUsers/{unVerifiedDemoUserId} {
      allow write: if true;
      allow read: if request.auth != null;
    }
    match /feedbackDetails/{detail} {
      allow write: if true;
      allow read: if request.auth != null;
    }
    match /examples/{example} {
      allow write: if true;
      allow read: if request.auth != null;
    }
    match /groups/{group} {
      allow write: if true;
      allow read: if request.auth != null;
    }
    match /tickets/{ticket} {
      allow write: if true;
      allow read: if request.auth != null;
    }
    match /notifications/{notification} {
      allow write: if true;
      allow read: if request.auth != null;
    }
  }
}

function hasReadPermission(request, database, key) { 
    return emailConfirmed(request) && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.featurePermissions.permissions[key].read == true;
}

function hasWritePermission(request, database, key) {
    return emailConfirmed(request) && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.featurePermissions.permissions[key].create == true;
}

function hasUpdatePermission(request, database, key) {
    return emailConfirmed(request) && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.featurePermissions.permissions[key].update == true;
}

function hasDeletePermission(request, database, key) {
    return emailConfirmed(request) && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.featurePermissions.permissions[key].delete == true;
}

function emailConfirmed(request) {
    return request.auth != null && request.auth.uid.matches('^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}$');
}

function isAdmin(request, database) {
  return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.featurePermissions.permissions.admin.read == true
  && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.featurePermissions.permissions.admin.create == true
  && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.featurePermissions.permissions.admin.update == true
  && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.featurePermissions.permissions.admin.delete == true
}
